body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Helvetica, sans-serif; }

#calculator-body {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 341px;
  height: 520px;
  background-color: #343739;
  border-radius: 10px; }

#calculator-display {
  width: 281px;
  height: 180px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #35373B;
  border-radius: 10px 10px 0px 0px; }

.display-line {
  height: 44px;
  line-height: 44px;
  text-align: right;
  font-size: 40px;
  color: #ECECED;
  border-bottom: 1px dotted #ECECED; }

#calculator-keypad {
  width: 380px;
  height: 360px;
  border-radius: 0px 0px 10px 10px; }

.calculator-button {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  float: left;
  font-size: 30px;
  margin-left: 1px;
  margin-bottom: 1px;
  text-align: center;
  color: #ECECED; }

.rectangle {
  width: 84px;
  height: 42px;
  font-size: 18px;
  line-height: 42px;
  margin-bottom: 2px; }

.square {
  width: 84px;
  height: 64px;
  line-height: 64px; }

.lrg-rectangle {
  width: 169px;
  height: 64px;
  line-height: 64px; }

.lt {
  background-color: #707275; }

.md {
  background-color: #66676A; }

.drk {
  background-color: #47494D; }

.hlt {
  background-color: #F1A33B; }

.rnd-br {
  border-radius: 0px 0px 10px 0px; }

.rnd-bl {
  border-radius: 0px 0px 0px 10px; }
